@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&family=Rubik:wght@600&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: black;
  position: sticky;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.393);
}
.nav_bar_links {
  display: flex;
}
.nav_bar_links li {
  margin: 0px 30px;
  font-size: 4vmin;
}
.nav_bar_links li a {
  color: black;
  font-weight: bolder;
}
.nav_bar_links li a:hover {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
}
/* logo */
.logo {
  font-size: 5vmin;
  margin-left: 20px;
  border-bottom: 4px double black;
}
/* header */
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/photographer 3.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header_content h1 {
  text-align: center;
  font-size: 9vmin;
  margin: 100px 0px 20px 320px;
  color: rgb(0, 0, 0);
  border-bottom: 2px double black;
  width: 65vw;
}
.btn {
  height: 70px;
  font-size: 2rem;
  width: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 25vw 0px 0px 55vw;
  border-radius: 20px;
  border: 10px solid black;
}
/* body */
.main {
  margin: 0;
  background-image: url("../images/1.jpg");
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: cover;
}
/* utility classes */
.utility_class {
  text-align: center;
  font-size: 9vmin;
  padding: 32px;
  color: rgb(0, 0, 0);
  width: 96vw;
}
.utility_class_1 {
  font-size: 4vmin;
  padding: 20px;
  color: rgb(0, 0, 0);
  width: 65vw;
}
.utility_class_2 {
  font-size: 3vmin;
  padding: 20px;
  color: rgb(0, 0, 0);
  width: 65vw;
}
.main_body {
  display: flex;
  width: 90vw;
  margin: auto;
  background-color: rgb(227, 215, 233);
  opacity: 0.7;
  border-radius: 23px;
  height: 50%;
  border: 2px solid rgb(184, 154, 150);
}
.box {
  width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 40vh;
}

/* about us */
.about_us {
  margin: 0;
  background-image: url("../images/2.jpg");
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.camera {
  width: 40vw;
  height: 60vh;
  margin: 130px 0px 30px 50px;
  border-radius: 23px;
}
.intro {
  opacity: 0.7;
  width: 50vw;
  height: 77vh;
  float: right;
  background-color: rgb(227, 215, 233);
  opacity: 0.7;
  border-radius: 23px;
  border: 2px solid rgb(184, 154, 150);
  margin-top: 80px;
  margin-left: 20px;
}
.intro h1 {
  font-size: 6vmin;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  color: rgb(0, 0, 0);
}
.intro p {
  font-size: 3vmin;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
/* pricing */
.pricing {
  margin: 0;
  background-image: url("../images/4.jpg");
  width: 100vw;
  height: 120vh;
  background-position: top;
  background-size: cover;
  padding: 20px;
}
.pricing h1 {
  font-size: 6vmin;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  color: rgb(0, 0, 0);
}
.pricing p {
  font-size: 3vmin;
  text-align: left;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container1 {
  width: 32%;
  background-color: rgba(128, 214, 128, 0.574);
  border-radius: 23px;
  border: 2px solid rgb(184, 154, 150);
}
.container1 h1 {
  font-size: 8vmin;
}
.container1 h2 {
  font-size: 6vmin;
  padding: 10px;
  text-align: center;
}
.container1 p {
  font-size: 4vmin;
}
.button {
  justify-content: center;
  text-align: center;
  height: 70px;
  font-size: 2rem;
  width: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 30px 60px;
  border-radius: 20px;
  border: 10px solid black;
}
/* competence */
.competence {
  margin: 0;
  background-image: url("../images/competence.webp");
  width: 100vw;
  height: 120vh;
  background-position: top;
  background-size: cover;
  padding: 20px;
}
.progress {
  opacity: 0.7;
  width: 80vw;
  height: 95vh;
  background-color: rgb(227, 215, 233);
  opacity: 0.7;
  border-radius: 23px;
  border: 2px solid rgb(184, 154, 150);
  margin: 50px 0px 0px 80px;
}
.progress h1 {
  font-size: 6vmin;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  color: rgb(0, 0, 0);
}
.progress p {
  font-weight: bold;
  font-size: 3vmin;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
.progress .input {
  font-weight: 30px;
  font-size: 4vmin;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
.progress input {
  margin-left: 120px;
  width: 80%;
  color: brown;
  height: 15px;
}
/* footer */
.footer {
  background-color: black;
  display: flex;
  height: 50vh;
  align-items: start;
  justify-content: space-around;
}

.footer1 {
  width: 25%;
  color: white;
  padding: 20px;
}
.footer1 h1 {
  font-size: 6vmin;
}
